@import url('https://fonts.googleapis.com/css2?family=Vesper+Libre:wght@400;500;700;900&display=swap');

#root {
  height: 100%;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Vesper Libre', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  background-color: bisque;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: xx-large;
  background-color: rgb(90, 26, 26);
  color: whitesmoke;
  height: 10%;
}

.bookCase{
  display: flex;
  flex-direction: column;
  height: 90%;
  justify-content: space-evenly;
  align-items: center;
}

.shelfContainer{
  flex-basis: 30%;
  width: 98%;
  border-radius: 10px;
  position: relative;
  height: 100%;
  z-index: 0;
}

.shelf {
background-color: rgb(48, 46, 46);
flex-basis: 30%;
width: 100%;
border-radius: 10px;
display: flex;
height: 100%;
z-index: 1;
}

.bookInput {
  position: absolute; 
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto;
  width: 500px;
}

.book {
  flex-basis: 5%;
  background-color: #f5e6de;
  margin-left: 10px;
  writing-mode: vertical-rl;
  text-align: center;
  text-orientation: mixed;
  align-items: stretch;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 2px solid;
}
